@page
@model WebApp.Pages.CheckOutNonCustomer1Model
@{
}


<div class="center">
    <table class="decision">
        <tr>
            <td>
                <h2>Sie sind nicht angemeldet</h2>
            </td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <div class="c">
                        <button asp-page-handler="ToRegister" id="nonCusBtnRegister" class="btn btn-primary btn-block mb-4">Ohne Kundenkonto bestellen</button>


                        <button asp-page-handler="ToLogin" id="nonCusBtnLogin" class="btn btn-primary btn-block mb-4">Anmelden/Registrieren</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>

<style>

</style>





